@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

.centered {
    text-align: center;
    vertical-align: center;
}

#weather {
    color: #fafafa;
    text-shadow: 0px 0px 4px black;
    position: relative;
    z-index: 0;
}

.right-now-container {
    width: 100%;
    display: grid;
    grid-auto-flow: row;
    align-items: center;
    grid-row-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
}

.next-container {
    width: 100%;
    display: grid;
    grid-auto-flow: row;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
    border-top: 1px solid #fafafa;
}

.next {
    padding-bottom: 2rem;
}

.next, .right-now {
    cursor: pointer;
}
